.photoList{
    margin-top: 20px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.photoList .photo{
    width:200px;
    height:248px;
    margin-bottom: 20px;
    margin-left: 20px;
    cursor:pointer;
    -webkit-transition: transform .3s ease-out;
       -moz-transition: transform .3s ease-out;
        -ms-transition: transform .3s ease-out;
         -o-transition: transform .3s ease-out;
            transition: transform .3s ease-out;
}
.photoList .photo:hover{
    -webkit-transform: scale(1.3, 1.3);
       -moz-transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
         -o-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
}
.photoList .photo.expand{
    -webkit-transform: scale(2.5,2.5);
       -moz-transform: scale(2.5,2.5);
        -ms-transform: scale(2.5,2.5);
         -o-transform: scale(2.5,2.5);
            transform: scale(2.5,2.5);
    /*transform-origin:50 50;*/
}
.photoList .photo:hover .text{
    background-color: #FF3E69;
    color:#ffffff;
}
.photoList .photo:hover .text .title{
    color:#ffffff;
}
.photoList .photo .pic{
    width:100%;
    height:200px;
    overflow:hidden;
}
.photoList .photo .pic img{
    width:100%;
    height:100%;
}
.photoList .photo .text{
    background:#ffffff;
    padding: 0 8px;
    color:#999;
}
.photoList .photo .text .title{
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    color:#333333;
}
.photoList .photo .text .date{
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    line-height: 24px;
}
